# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
.env
.venv

# Django
/static/
/media/

# IDEs and editors
.idea/
.vscode/
*.iml

# OS files
.DS_Store

# Node
node_modules/
dist/
npm-debug.log*
